# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
*.zip
EC_GroupProj_CSC143/
School/Charlie/
School/Halim/
School/Lucas/
School/Ryan_School/CompilerOutput/
School/Ryan_School/H10_ryan/JavaDocs/
School/Ryan_School/OldSudokuProject/
/School/Ryan_School/H8_ryan/H8_ryan1.zip
